<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">
      <i class="material-icons">product</i>Web App</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li >
          <a routerLink='/home'>Home</a>
      </li>
      <li >
          <a routerLink='/product'>Product</a>
      </li>
      <li>
        <a (click)="Logout()">Logout</a>
      </li>      
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-content" *ngIf="user">
        <span>Username :{{user.preferred_username}}</span>
        <br>
        <span>Id : {{user.sub}}</span>
        <br>
        <span>Email : {{user.email}}</span>
        <br>
        <span>Full Name : {{user.name}} </span>
        <br>
        <span>First Name : {{user.given_name}}</span>
        <br>
        <span>Last Name : {{user.family_name}}</span>
      </div>
    </div>
  </div>
</div>